body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header */

.hero-header{
    display:flex;
    margin-bottom: 120px;
    /* padding-top: 5px; */
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

a:visited{
    color: #e5e7eb;
}
a:hover{
    color: aquamarine;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links{
    display:flex;
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
    flex: 0 1 auto;
}


/* hero content */

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 260px;
    padding-right: 260px;
    flex: 1 0 auto;
    padding-bottom: 150px;
    padding-top: 17px;
  
}

.hero-content{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    /* border: red solid 2px; */
    align-items: center;
    gap: 30px;
    
}

/* left hero content */

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    /* border: red solid 2px; */
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content-left{
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
    width: 400px;
    gap: 15px;
    
}

.hero-sign-button{
    font-size: 17px;
    text-decoration: none;
    border: 2px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #3382F6;
    color: #e5e7eb;
    font-weight: 900;
    margin-top: 10px;
    cursor: pointer;
}
.hero-sign-button:hover{
    background-color: aquamarine;
    color: #1f2937;

}


/* right hero content */

.hero-content-right img{
    border-radius: 5px;
    height: 260px;
    width: 500px;
}
.hero-content-right{
    margin-left: auto;
}


/* forst content */

.first-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 20px;
    
}

.information-header{
    font-size: 36px;
    font-weight: 950;
    color: #1F2937;
}

.poi{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
    margin-bottom:120px ;
   
}


.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .text{
    width:180px;
    color: #1F2937;
    text-align: center;
    display: flex;
    font-size: 18px;
    /* border: #3382F6 solid 3px; */
    padding:0;
    margin: 0;
}


.item .info-image{
    width:200px;
    height: 200px;    
    border: #3382F6 solid 3px;
    border-radius: 10px;
}


.second-content{
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.quote-box{
    /* border: #3382F6 solid 2px; */
    padding: 80px 50px;
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.insp-quote{
    font-size: 20px;
    color: #1F2937;
}

.author{
    display: flex;
    margin-left: auto;
}