body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 185px;
    padding-right: 185px;
    flex: 1 0 auto;
  
}



.hero-header{
    display:flex;
    margin-bottom: 40px;
    padding-top: 5px;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}


.logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-links{
    display:flex;
    margin-left: auto;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content{
    display: flex;
    gap: 20px;
    flex-grow: 1;
    
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: left;
    flex: 1;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}


.hero-content-right img{
    border-radius: 5px;
    height: 250px;
    width: 500px;
}